body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

body p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

li {
    display: inline-block;
    margin-right: 5px;
}

a {
    background: black;
    color: whitesmoke;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
}


h1 {
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

#left-boder-color {
    border-left: 4px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    padding-left: 2%;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.misson-vission-goals {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.misson-vission-goals img {
    width: 60%;
}

#misson {
    background-color: cadetblue;
}

#vission {
    background-color: yellowgreen;
}

#goals {
    background-color: khaki;
}

#mission-extreme {
    text-align: center;
    background-image: url(images/shapes/shape-6.png);
    background-color: cadetblue;
    padding: 50px;
    border-radius: 15px;
    margin: 150px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 10px;
    border: 0;
}

footer h3 {
    font-family: serif;
    font-style: italic;
    color: white;
}

footer p {
    color: lightskyblue;
    text-align: center;
}